# Intro to Python
## 1. Data Types

### Numbers

In [ ]:
a = 20
b = 5.5
c = 1e5

In [ ]:
print('a =',a,' type =',type(a))

In [ ]:
print('b =',b,' type =',type(b))

In [1]:
print('c =',c,' type =',type(c))

a = 20  type = <class 'int'>
b = 5.5  type = <class 'float'>
c = 100000.0  type = <class 'float'>

### Python Arithmetic

In [ ]:
c = a + b
print('a + b =',c)

In [ ]:
c = a - b
print('a - b =',c)

In [ ]:
c = a * b
print('a * b =',c)

In [ ]:
c = a / b
print('a / b =',c)

In [ ]:
c = a // b
print('a // b =',c)

In [ ]:
c = a ** b
print('a ** b =',c)

In [48]:
c = a % b
print('a % b =',c)

a % b = 1.5

In [ ]:
print('1 | 3 =',1 | 3)

In [2]:
print('1 & 3 =',1 & 3)

a + b = 25.5
a - b = 14.5
a * b = 110.0
a / b = 3.6363636363636362
a // b = 3.0
a ** b = 14310835.055998653
a % b = 3.5
1 | 3 = 3
1 & 3 = 1

### String

In [3]:
firstName = 'John'
lastName = 'Doe'
print(firstName,type(firstName))
print(lastName,type(lastName))

John <class 'str'>
Doe <class 'str'>

#### Adding Strings

In [ ]:
fullName = firstName + ' ' + lastName
print(fullName)

In [4]:
print('a'*4)

John Doe
aaaa

#### Indexing Strings

In [ ]:
print(fullName[3])

In [ ]:
print(fullName[-1])

In [ ]:
print(fullName[:])

In [ ]:
print(fullName[:3])

In [ ]:
print(fullName[3:-1])

#### Printing Strings

##### Python 1

In [41]:
name = "Eric"
age = 74
print("Hello, %s. You are %s." % (name, age))

Hello, Eric. You are 74.

##### Python 2.6

In [43]:
print("Hello, {}. You are {}.".format(name, age))

'Hello, Eric. You are 74.'

In [44]:
print("Hello, {1}. You are {0}.".format(age, name))

'Hello, Eric. You are 74.'

##### Python 3

In [49]:
print(f"Hello, {name}. You are {age}.")

Hello, Eric. You are 74.

### Typecasting

In [ ]:
val = 287
print(val,type(val))

In [ ]:
val = str(val)
print(val,type(val))

In [ ]:
val = float(val)
print(val,type(val))

### List
Ordered, changeable, duplicates allowed

In [ ]:
myList = ['John',34 , 'Jane', False, ('Robert', 21), 'Kathy']
print(myList)

In [ ]:
myList[2] = 'Maria'
print(myList)

In [ ]:
myList[4] = list(myList[4])
print(myList)

In [ ]:
myList[4][1] = 74
print(myList)

In [ ]:
myOtherList = ['a','b',98]
newList = myList + myOtherList
print(newList)

In [ ]:
print(myOtherList * 3)

### Tuple
Ordered, unchangeable, duplicates allowed

In [ ]:
myTuple = ('John', 'Jane', 'Robert', 'Kathy', 'Jane')
print(myTuple)

### Set
Unordered, unindexed, no duplicates

In [ ]:
mySet = {'apples', 'oranges', 'pineapples', 'apples'}
print(mySet)
print('apples' in mySet)

### Dictionary
Unordered, changeable, no duplicates

In [ ]:
myDictionary = {'name':'John', 'ID':12334, 'Manager':True,'Team':['Carlos','Chris','Michael']}
print(myDictionary)

In [ ]:
print(myDictionary['Team'])

In [ ]:
print(myDictionary['Team'][1])

In [ ]:
print(myDictionary.keys())

In [ ]:
print(myDictionary.values())

In [18]:
myDictionary['Salary'] = 500000
print(myDictionary)

{'name': 'John', 'ID': 12334, 'Manager': True, 'Team': ['Carlos', 'Chris', 'Michael']}
['Carlos', 'Chris', 'Michael']
Chris
dict_keys(['name', 'ID', 'Manager', 'Team'])
dict_values(['John', 12334, True, ['Carlos', 'Chris', 'Michael']])
{'name': 'John', 'ID': 12334, 'Manager': True, 'Team': ['Carlos', 'Chris', 'Michael'], 'Salary': 500000}

## Conditional Statements

### IF Statement

In [27]:
import random
a = random.randint(1,10)
print(a)
if a <= 2:
    print('low')
elif a <= 7:
    print('mid')
else:
    print('high')

7
mid

### For Loop

In [ ]:
for i in range(1,5):
    a = random.randint(1,10)
    print('run #',i)
    print(a)
    if a <= 2:
        print('low')
    elif a <= 7:
        print('mid')
    else:
        print('high')
    print()

In [17]:
myList = ['John',34 , 'Jane', False, ('Robert', 21), 'Kathy']
for i in myList:
    print(i)

John
34
Jane
False
('Robert', 21)
Kathy

### While Loop

a = 0
while a <= 5:
    print(a)
    a = random.randint(1,10)
print(a)

## Functions

In [6]:
def helloWorld():
    print('Hello World!!\nWelcome to Python')

In [7]:
helloWorld()

Hello World!!
Welcome to Python

In [14]:
def charCount(string, char, caseInsensitive = True):
    count = 0
    if caseInsensitive:
        string = string.lower()
        char = char.lower()
    for c in string:
        if c == char:
            count += 1
    return count

In [15]:
charCount('Alphabet','a')

2

In [16]:
charCount('Alphabet','a', False)

1

## Read/Write to File

In [ ]:
f = open('demo.txt','w')
f.write('Writing to this file...')
f.close()

In [ ]:
f = open('demo.txt','r')
print(f.read())
f.close()

In [ ]:
with open('demo.txt','a') as f:
    f.write('\nMore Text')

In [ ]:
with open('demo.txt','r') as f:
    print(f.read())

## API example

In [28]:
import requests

def getWeather(city, myKey):
    parameters = {"APPID": myKey, 'q':city}
    url = 'http://api.openweathermap.org/data/2.5/weather'
    res = requests.get(url, parameters)
    return eval(res.content.decode('utf-8'))

def kelvinToF(k):
    c = k - 273.15
    f = (c*9/5)+32
    return round(f)

with open('APIid.txt','r') as f:
    myKey = f.read()
print(myKey)
myKey = eval(myKey)['openweather']
city = 'Seattle'
res = getWeather(city, myKey)
print('City:',res['name'])
print('Temp:',str(kelvinToF(res['main']['temp']))+' F')
print('Conditions:',res['weather'][0]['description'])

{'openweather':'147a768c5a727f50e3955c3fabfeb774'}
City: Seattle
Temp: 40 F
Conditions: mist

In [29]:
print(res)

{'coord': {'lon': -122.33, 'lat': 47.6}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50n'}], 'base': 'stations', 'main': {'temp': 277.84, 'pressure': 1023, 'humidity': 87, 'temp_min': 274.15, 'temp_max': 281.48}, 'visibility': 9656, 'wind': {'speed': 1.22, 'deg': 14}, 'clouds': {'all': 1}, 'dt': 1572945129, 'sys': {'type': 1, 'id': 3417, 'country': 'US', 'sunrise': 1572965953, 'sunset': 1573001195}, 'timezone': -28800, 'id': 5809844, 'name': 'Seattle', 'cod': 200}

In [30]:
for i in res:
    print(f'{i} -> {res[i]}')

coord -> {'lon': -122.33, 'lat': 47.6}
weather -> [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50n'}]
base -> stations
main -> {'temp': 277.84, 'pressure': 1023, 'humidity': 87, 'temp_min': 274.15, 'temp_max': 281.48}
visibility -> 9656
wind -> {'speed': 1.22, 'deg': 14}
clouds -> {'all': 1}
dt -> 1572945129
sys -> {'type': 1, 'id': 3417, 'country': 'US', 'sunrise': 1572965953, 'sunset': 1573001195}
timezone -> -28800
id -> 5809844
name -> Seattle
cod -> 200